body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    color: blueviolet;
}

h1{
    color: red;
}

/*child selector*/
ul > li{
    font-weight: bold;
    color: brown;
}

/*hover pseudo class*/
ul li:hover{
    color: blue;
}

/*nth-child pseudo class*/
ul li:nth-child(3){
    background-color: yellow;
}

/*attribute selector*/
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

/*sibling selector*/
h1, p{
    background-color: lime;
}